main {
    font-size: 16px;
}

.mail__wrap,
.admin__wrap,
.user__wrap {
    width: 90%;
    margin: 0 auto;
    padding: 5px 0;
}

.mail__content,
.admin__content,
.user__title {
    font-size: 20px;
}

.mail__button,
.admin__button,
.user__button {
    width: 100px;
    padding: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.mail__button:hover,
.admin__button:hover,
.user__button:hover {
    background-color: #0056b3;
}

.mail__button {
    margin: 10px 10px;
}

.admin__content__form {
    width: 90%;
    padding: 20px 10px;
}

.content__header {
    width: 90%;
    padding: 3px 0;
}

.content__header__label {
    display: inline-block;
    width: 50px;
}

.content__header__input,
.content__header__select {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.content__header__error {
    color: red;
}

.content__button {
    margin: 10px auto;
}

.user__table {
    width: 100%;
    text-align: left;
    margin: 0 auto;
    font-size: 16px;
}

.table__header,
.table__data,
.table__button {
    padding-left: 1%;
    border-bottom: 1px solid #a9a9a9;
    height: 40px;
}

.header-no {
    width: 10%;
}

.header-name {
    width: 20%;
}

.header-email {
    width: 30%;
}

.header-role {
    width: 15%;
}

.header-shop {
    width: 15%;
}

.header-content {
    width: 10%;
}

.table__data {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}