.user__name {
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
}

.mypage__wrap {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.reservation__wrap {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.reservation__tab {
    flex-direction: column;
}

.reservation__title,
.favorite__title {
    font-size: 23px;
    font-weight: bold;
}

.reservation__content {
    margin-bottom: 20px;
    padding: 10px 10% 30px 10%;
    background-color: rgb(63, 90, 242);
    border-radius: 5px;
    color: #fff;
    font-size: 1.6rem;
}

.reservation__content--steelblue {
    background-color: steelblue;
}

.reservation__header {
    display: flex;
    margin: 0;
}

.header__mark {
    margin: 16px 40px 16px 0;
    font-size: 22px;
}

.header__number {
    margin-top: 20px;
}

.header__form {
    margin: 20px 0 16px auto;
}

.header__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}

.reservation__detail {
    display: flex;
    position: relative;
}

.reservation__table {
    width: 70%;
}

.table__header {
    width: 95px;
    text-align: left;
    font-weight: normal;
    padding: 5px 0;
}

.favorite__wrap {
    width: 55%;
}

.shop__wrap {
    display: flex;
    flex-wrap: wrap;
}

.shop__content {
    width: 100%;
    max-width: 240px;
    height: 250px;
    margin: 0 40px 40px 0;
    background-color: white;
    border-radius: 4px;
    box-shadow: 3px 3px 3px #A9A9A9;
}

.shop__image {
    width: 100%;
    height: 130px;
    border-radius: 4px 4px 0 0;
}

.shop__item {
    width: 215px;
    margin: 0 auto;
}

.shop__title {
    font-weight: bold;
    margin: 13px 0 3px;
    font-size: 16px;
}

.shop__tag {
    display: flex;
}

.shop__tag-info {
    margin: 0;
    margin-right: 5px;
    font-size: 12px;
}

.shop__button {
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin: 10px 0;
}

.shop__button-detail {
    background-color: rgb(63, 90, 242);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    width: 90px;
    height: 30px;
}

.heart__favorite {
    width: 30px;
    height: 30px;
    border: none;
    position: relative;
    background: none;
    cursor: pointer;
}

.heart__favorite::before,
.heart__favorite::after {
    content: "";
    width: 50%;
    height: 80%;
    background: red;
    border-radius: 25px 25px 0 0;
    display: block;
    position: absolute;
}

.heart__favorite::before {
    transform: rotate(-45deg);
    left: 14%;
    top: 14%;
}

.heart__favorite::after {
    transform: rotate(45deg);
    right: 14%;
    top: 14%;
}

.mobile-favorite__title {
    display: none;
}

.mobile-favorite__wrap {
    display: none;
}

@media screen and (max-width: 768px) {
    .user__name {
        margin: 0 auto;
        padding-left: 0;
        text-align: center;
    }

    .mypage__wrap {
        display: flex;
        flex-direction: column; /* 縦に並べる */
        align-items: center;
    }

    .reservation__wrap {
        width: 90%;
        margin: 0 auto;
        height: auto
    }


    .favorite__wrap {
        margin: 0 auto;
        width: 90%;
        height: auto; /* 高さを自動調整 */
        display: block; /* 表示するように設定 */
    }

    .shop__wrap {
        justify-content: space-between;
    }

    .shop__content {
        width: 100%;
        max-width: 240px;
        height: 250px;
        margin: 40px 40px;
        background-color: white;
        border-radius: 4px;
        box-shadow: 3px 3px 3px #A9A9A9;
    }
}